// 1. Your custom variables and variable overwrites.
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;300;400&display=swap');

/// 1. Your custom variables and variable and overwrites..
$global-link-color: #DA7D02;

// Martijn STYLES
.mk-navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.mk-nav-item ul > li a:link {
    color: #fff;
}
.mk-nav-item ul > li a:link:hover {
    color: red;
}



// 2. Import default variables and available mixins.   

@import "../../node_modules/uikit/src/scss/variables.scss";
@import "../../node_modules/uikit/src/scss/mixins.scss";
@import "../../node_modules/uikit/src/scss/components/_import.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit.scss";